.bottlewater-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 20px; 
  border: 1px white;

}

  .btn {
    margin-left: 650px; 
    margin-top: 30px; 
    border-radius: 5px; 
    padding: 10px 30px; 
    font-size: 18px; 
    border: 2px solid black; 
    background-color:transparent; 
    color: black; 
    cursor: pointer; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.btn:hover {
   background-color:#ff7800;  
}

.txt{
  text-align: center;
}

.text{
  text-align: center;
  font-size: 45px;
  padding-top: 30px;
}

.bg-img{
  background-image: url('../assets/brothel.jpg');
  height: 47vh;
  background-size: cover;
  background-position: center;
  

}


.bottlewater-title {
  font-size: 24px; 
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 200px; 
  margin-left: 50px;
}

.container {
  display: flex; 
}

.container a {
  margin: 0 15px; 
  text-decoration: none; 
  color: #333; 
  font-weight: bold;

}

.icons-container {
  display: flex; 
  align-items: center; 
  margin-right: 80px;
}

.icon-box {
  background-color: #f0f0f0; 
  border-radius: 8px; 
  padding: 10px; 
  margin-right: 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  transition: background-color 0.3s;
}

.icon-box:hover {
  background-color:#ff7800; 
}

.icon {
  color: #333; 
  text-decoration: none; 
  display: flex; 
  align-items: center; 
}

.fit{
  text-align: center;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.card{
  background-color: white;
  border: 1px solid black; 
  border-radius: 1px;
  margin-left: 60px;
  padding: 40px;
  margin-left: 100px;
  text-align: center;
  display: inline-block;
}
.card:hover{
transform: scale(1.1);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
outline: .1rem solid black;
}

.class-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;

}
.opolo {
  width: 30vh;
}

.card-button{
  border-radius: 5px; 
  margin-top: 20px;
  padding: 10px 30px; 
  font-size: 18px; 
  border: 2px solid black; 
  background-color:transparent; 
  
}

.card-button:hover{
  background-color:#ff7800;
  outline-offset: 0;
  transition: linear 0.2s;
}

.text-nicard{
  color:hsl(0, 0%, 40%)
}

.features {
  background: black;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0 100%, 7% 50%, 0 0);
}

.card2{
  background-color: white;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 1px;
  margin-left: 60px;
  padding: 40px;
  text-align: center;
  display: inline-block;
}

.card2:hover{
  transform: scale(1.1);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
outline: .1rem solid black;
} 

.card3{
  background-color: white;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 1px;
  margin-left: 60px;
  padding: 40px;
  text-align: center;
  display: inline-block;

}
.card3:hover{
  transform: scale(1.1);
   outline: .1rem solid black;
}
.opolo2 {
  width: 30vh;
  border-radius: 50%;
}

.review-1{
  background-color: white;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 1px;
  margin-left: 120px;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.rlo{
  font-size: 28px;
}

.rating{
  color: black;
}
.review-2{
  background-color: white;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 1px;
  margin-left: 40px;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.review-3{
  background-color: white;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 1px;
  margin-left: 40px;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.box{

  margin-top: 50px;
  margin-left: 90px;
}

.footer {
  background: #fff;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}
.footer .box-container h3 {
  color: black;
  font-size: 2.5rem;
  padding: 1rem 0;
}
.footer .box-container h3 i {
  margin-left: 1rem;
  color: black;
}
.footer .box-container p {
  line-height: 1.8;
  font-size: 1.5rem;
  color: #333;
  margin: 1rem 0;
}
.footer .box-container .share a {
  height: 4rem;
  width: 4rem;
  margin-right: 0.4rem;
}
.footer .box-container .share a i {
  border-radius: 0.5rem;
  background: #eee;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  height: inherit;
  width: inherit;
  display: inline-block;
}
.footer .box-container .share a i .fa-icon {
  transition-duration: 0s;
  color: black;
}
.footer .box-container .share a:hover i .fa-icon {
  color: #fff;
}
.footer .box-container .share a:hover i {
  background:#ff7800;
}
.footer .box-container .links {
  display: block;
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.footer .box-container #emailLink {
  text-transform: none;
}
.footer .box-container .links i {
  color: black;
  padding-right: 0.5rem;
}
.footer .box-container .links:hover i {
  padding-right: 2rem;
}
.footer .box-container input {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem;
  font-size: 1.6rem;
  color: black;
  text-transform: none;
  background: #eee;
  border-radius: 0.5rem;
}
.footer .box-container button:hover {
  background: #ff7800;
}
.footer .box-container img {
  margin-top: 2rem;
  height: 3rem;
  display: block;
}
.footer .credits {
  text-align: center;
  margin: 1rem 0;
  padding: 3rem 0;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: black;
}
.footer .credits span {
  color: burlywood;
}

.footie{
padding: 1rem;
margin-top: 40px;
background-color: #faf4f4;
}